   
     
     
     
     
     /* media queries*/

     /* Appareils avec une résolution de 992 pixels ou moins ordinateur*/   

    /* Paragraphes en bleu par défaut */


                                

     /* Appareils avec une résolution de 768 pixels Tablettes */   

      
                


     /* Appareils avec une résolution de moins de 768px smartphone */   





     


html body
{
    font-family: "Raleway", sans-serif;
}

body 
{
    margin-left: 100px;
}
section
{
    display: flex;
    
}
/* header*/
.title
{
   display: flex;
   justify-content: space-between;
   align-items: center; 
 
  
     
}
.logo-booki
{
    width: 80px;
    height: 40px;
   margin-bottom: 10px;
   
   
   
}
.bar-nav

{  
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:600px; 
   
}
  


.house-nav
{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 140px;
    height:90px;
    margin-right: 40px;
    color:black;
    text-decoration: none;
    
  
 
  
   
}


.activity-nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height:90px;
    color: black;
    text-decoration: none;
    margin-right: 40px;
   
}
.bar-nav a:hover
{
 
  border-top:3px solid #0065fc;   
 
}
.under-nav
{
    font-size: 19px;
    font-weight: bolder;
}
p
{
    font-size:14px;
}

/*barre de recherche*/

.bar-search
{    display: flex;
    
    align-items: center;
    width: 400PX;
    height: 40px;
  
}
.bar-search i
{  display: flex;
    justify-content:center;
    align-items: center;
    width: 42px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    background-color:#f2f2f2;
   
}

.write-search

{
   padding-left:10px;
   width: 50%;
   height: 40px;
   font-size:medium;
   border:2.5px solid #f2f2f2;
   border-right: none;
   
}
input::placeholder
{
    color: black;
    font-weight: bolder;
}
.button-search
{   display: flex;
    justify-content: CENTER;
    align-items:center;
    width: 27%;
    height: 40px;
    background-color: #0065fc;
    color: white;
    border-radius: 0 10px 10px 0;
    font-size: medium;
    font-weight: 500;
    border:none;
    
}

/* infos sous filtre*/
.infos-nav
{
    display: flex;
    margin-top: 20px; 
    
}
.infos-nav p
{
    padding-left:15px;
}

.infos-nav .fas
{
    color:#0065fc
    
}


         /* les filtres*/


.filter  
{
    display: flex;
    align-items: center;
    margin-top:30px;
    padding-right: 40px;
  
}


.filter div
{   display: flex;
    align-items: center;
    border:2px solid #f2f2f2;
    border-radius: 50px;
    margin:5px;    
   

    
}

.filter i


{  
     display:flex;
    justify-content: center;
    align-items:center;
    width: 37px;
    height: 37px;
    background-color:#DEEbff;
    border-radius:60%;
    color: #0065fc; 
    
}

.filter h2
{
    font-size: 14px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 10px;

}
/*main */

.block-hebergement
{
    width: 800px;
    height: 550px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f2f2f2; 
    margin-top: 20px;
    padding-top: 40px;
    

    
}
.block-hebergement h3
{
    font-size:14px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom:2px;
    padding-top: 5px;
}

#title-marseille
{
    font-size :19px;
    font-weight: bolder;
    margin-left: 40px;


}
.house-marseille
{
    display:flex;
    justify-content: center;
}
.cannebiere
{    
    
    width: 225PX;
    height: 180px;
    background-color:WHITE;
    border-radius:15px 15px 15px 15px ;
    box-shadow:2px 2px 0.7px  rgb(197, 195, 195);
    margin-top: 15px;

       
}
.cannebiere img
{
    width: 218PX;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin-left: 2px;
    margin-top: 4px;
    padding-left: 3px;
    object-fit: cover;
    
}

.cannebiere p
{
    padding-left: 10px; 
    font-size: small;
    margin-bottom:4px;
}
.etoile 
{
    padding-left:10px;
   
}
 i
{ 
  color:#0065fc;
  
} 
.etoile i:nth-of-type(5)
{
    color:GREY;
    OPACITY:0.33;
}
.duport
{    
    
    width: 225PX;
    height: 180px;
    background-color:WHITE;
    border-radius:15px 15px 15px 15px ;
    box-shadow:2px 2px 0.7px  rgb(197, 195, 195);
    margin-top: 15px;
    margin-left: 30px;

       
}
.duport img
{
    width: 218PX;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin-left: 2px;
    margin-top: 4px;
    padding-left: 3px;
    object-fit: cover;
    
}
.duport p
{
    padding-left: 10px; 
    font-size: small;
    margin-bottom: 2px;
}
.etoile-port

{
    padding-left: 10px;
}
.hotel-mouette
{    
    
    width: 225PX;
    height: 180px;
    background-color:white;
    border-radius:15px 15px 15px 15px ;
    box-shadow:2px 2px 0.7px  rgb(197, 195, 195);
    margin-top: 15px;
    margin-left: 30px;

       
}
.hotel-mouette img
{

    width: 218PX;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin-left: 2px;
    margin-top: 4px;
    padding-left: 3px;
    object-fit: cover;
    

}
.hotel-mouette p
{
    padding-left: 10px; 
    font-size: small;
    margin-bottom: 2px;
}
   /* deuxieme etage */
.housemarseille2
{
    display: flex;
    justify-content: center;
   
}
.la-mer
{    
    
    width: 225PX;
    height: 180px;
    background-color:WHITE;
    border-radius:15px 15px 15px 15px ;
    box-shadow:2px 2px 0.7px  rgb(197, 195, 195);
    margin-top: 30px;
    
   

       
}
.la-mer img
{
    width: 218PX;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin-left: 2px;
    margin-top: 4px;
    padding-left: 3px;
    object-fit: cover;
    
}
.la-mer p
{
    padding-left: 10px; 
    font-size: small;
    margin-bottom: 2px;
   
    
}
.etoile-lamer i:nth-of-type(4)
{
    color:GREY;
    OPACITY:0.33;
}

.etoile-lamer i:nth-of-type(5)
{
    color:GREY;
    OPACITY:0.33;
}
.etoile-lamer

{
    padding-left: 10px;
}
.le-panier
{    
    
    width: 225PX;
    height: 180px;
    background-color:WHITE;
    border-radius:15px 15px 15px 15px ;
    box-shadow:2px 2px 0.7px  rgb(197, 195, 195);
    margin-top: 30px;
    margin-left: 30px;
    
   

       
}
.le-panier img
{
    width: 218PX;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin-left: 2px;
    margin-top: 4px;
    padding-left: 3px;
    object-fit: cover;
    
}
.le-panier p
{
    padding-left: 10px; 
    font-size: small;
    margin-bottom: 2px;
}
.amina
{    
    
    width: 225PX;
    height: 180px;
    background-color:white;
    border-radius:15px 15px 15px 15px ;
    box-shadow:2px 2px 0.7px  rgb(197, 195, 195);
    margin-top: 30px;
    margin-left: 30px;
    
   

       
}
.amina img
{
    width: 218PX;
    height: 100px;
    border-radius: 15px 15px 0 0;
    margin-left: 2px;
    margin-top: 4px;
    padding-left: 3px;
    object-fit: cover;
    
}
.amina p
{
    padding-left: 10px; 
    font-size: small;
    margin-bottom: 2px;
}
h4
{
    font-size: medium;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 40px;
}

.popular-house
{
   
 
   
   width: 400px;
   height: 550px;
   border-radius: 15px 15px 15px 15px;
   background-color:#f2f2f2; 
   margin-top: 20px;
   padding-top: 40px;
   margin-left: 30PX;
}
.most-popular
{
    display: flex;
    justify-content:space-around;
   
    
}
.most-popular h2
{
    font-size: 19px;
    font-weight: bolder;
    margin-right: 35px;
}
.most-popular i
{
    color: black;
    
}
/* CARTES LE SOLEIL*/
.le-soleil
{  display: flex;

   
  width: 320px;
  height: 120px;
  background-color: white;
  border-radius:15px 15px 15px 15px;
  margin-top: 15px;
  margin-left: 40PX;
}
.le-soleil img
{
   width: 120px;
   height: 115px;
   object-fit: cover;
   border-radius: 15px 0 0 15px;
   margin-top: 3px;
   padding-left: 2px;
   padding-bottom: 2px;
   margin-left: 2px;
}
.hotel-lesoleil
{
 margin-left: 10px;
}
.hotel-lesoleil h3
{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 10px;
   
  
}
/* CARTE AU COEUR*/
.title-aucoeur
{  

  width: 320px;
  height: 120px;
  background-color: white;
  border-radius:15px 15px 15px 15px;
  margin-top: 40px;
  margin-left: 40PX;

}
.coeur-deleau
{
    display: flex;
}
.coeur-deleau img
{ 
   width: 120px;
   height: 115px;
   object-fit: cover;
   border-radius: 15px 0 0 15px;
   margin-top: 3px;
   padding-left: 2px;
   padding-bottom: 2px;
   margin-left: 2px;
}
.hotel-aucoeur
{  
 margin-left: 10px;
}
.hotel-aucoeur h3
{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 10px;
   
  
}
/* CARTE TOUT BLANC TOUT BLEU*/
.title-toutbleu
{  

  width: 320px;
  height: 120px;
  background-color: white;
  border-radius:15px 15px 15px 15px;
  margin-top: 40px;
  margin-left: 40PX;

}
.toutbleu
{
    display: flex;
}

.toutbleu img
{ 
   width: 120px;
   height: 115px;
   object-fit: cover;
   border-radius: 15px 0 0 15px;
   margin-top: 3px;
   padding-left: 2px;
   padding-bottom: 2px;
   margin-left: 2px;
}

.hotel-toutbleu
{  
 margin-left: 10px;
}

.hotel-toutbleu h3
{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 10px;
   
  
}
.hotel-toutbleu i:nth-of-type(5)
{
    color:grey;
    opacity:0.33;
}
