   
     
     
     
     
     /* media queries*/

     /* Appareils avec une résolution de 992 pixels ou moins ordinateur*/   

    /* Paragraphes en bleu par défaut */


                                

     /* Appareils avec une résolution de 768 pixels Tablettes */   

      
                


     /* Appareils avec une résolution de moins de 768px smartphone */   





     


html body
{
    font-family: "Raleway", sans-serif;
}

body 
{
    margin-left: 40px;
}
.title
{
   display: flex;
   justify-content: space-between;
   align-items: center; 
 
  
     
}
.logo-booki
{
    width: 80px;
    height: 50px;
   margin-bottom: 10px;
 
   
   
}
.bar-nav

{  
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:600px; 
   
}
  


.house-nav
{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 140px;
    height:90px;
    margin-right: 40px;
    color:black;
    text-decoration: none;
    
  
 
  
   
}


.activity-nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height:90px;
    color: black;
    text-decoration: none;
    margin-right: 40px;
   
}
a:hover
{
 
  border-top:3px solid #0065fc;   
 
}
.under-nav
{
    font-size: 19px;
    font-weight: bolder;
}
p
{
    font-size:14px;
}
         /* les filtres*/

.filter
{
    display: flex;
    margin-top:40px;
}
    
.filter H2
{
    font-size: 19px;

}
.bil-filter
{
    display: flex;
    justify-content: center;
    background-color: brown;
    width:50px;
    height: 50px;

   
}
.child-filter
{
    display: flex;
}
.heart-filter
{
    display: flex;

}
.dog-filter
{
    display: flex;
}